Source: intelmq-certbund-contact
Maintainer: Sascha Wilde <wilde@intevation.de>
Section: contrib/net
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 9)
X-Python3-Version: >= 3.3
Standards-Version: 3.9.7
Homepage: https://github.com/Intevation/intelmq-certbund-contact

Package: intelmq-certbund-contact
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, intelmq (>= 3.0.2),
  intelmq-mailgen (>= 1.00~rc3), gawk, python3-psycopg2
Description: IntelMQ Contacts is a contact database for IntelMQ
 with related expert bots
