#!/usr/bin/make -f

export PYBUILD_NAME=intelmq-certbund-contact
%:
	dh $@ --with python3 --without python2 --buildsystem=pybuild --with quilt

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/intelmq-certbund-contact/usr/share/intelmq-certbund-contact
	mkdir -p debian/intelmq-certbund-contact/usr/share/doc/intelmq-certbund-contact
	cp -r sql debian/intelmq-certbund-contact/usr/share/intelmq-certbund-contact/

# Don't compress example rules:
override_dh_compress:
	dh_compress -X.py
